h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game {
    border: 2px solid black;
    width: 700px;
    height: 700px;
    position: relative;
    margin-left: 11%;
}

.kvadratas {
    height: 50px;
    width: 50px;
    position: absolute;
}

.kvadratas:hover {
    cursor: pointer;
}

.round_information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}